<!DOCTYPE html>
<html>
  <head>
    <title>ActioncableCourse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="container">
      <%= render 'layouts/components/navigation' %>

      <!--main content start-->
      <section id="main-content" >
        <section class="wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <%= render 'layouts/components/alerts' %>
                <%= yield %>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!--main content end-->
    </section>
  </body>
</html>
